@import url("https://fonts.googleapis.com/css?family=Audiowide");

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media only screen and (max-width: 75em) {
    html {
        font-size: 59%;
    }
}

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 56%;
    }
}

@media only screen and (min-width: 112.5em) {
    html {
        font-size: 65%;
    }
}

body {
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    font-family: sans-serif;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    font-family: "Source Sans Pro", sans-serif;

    background-color: #050736;
    background-image: radial-gradient(at 12% 26%, rgb(10, 27, 80) 0px, transparent 50%),
        radial-gradient(at 48% 55%, hsla(200, 78%, 30%, 1) 0px, transparent 50%),
        radial-gradient(at 28% 95%, hsla(220, 65%, 30%, 1) 0px, transparent 50%),
        radial-gradient(at 42% 60%, hsla(190, 70%, 30%, 1) 0px, transparent 50%),
        radial-gradient(at 62% 19%, hsla(240, 81%, 30%, 1) 0px, transparent 50%),
        radial-gradient(at 79% 79%, hsla(210, 71%, 30%, 1) 0px, transparent 50%);
}


.btn {
    background: rgb(0, 255, 247);
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 10px;
    transition: transform 0.3s;
    filter: drop-shadow(0 0 10px rgba(255, 253, 239, 0.796));
    border: 0.5px solid rgba(172, 172, 172, 0.662);
}

.btn:hover {
    border-radius: 20px;
    transform: translateY(-3px);
    background: rgba(0, 0, 0, 0.434);
    color: #fff;
    box-shadow: 0 0 50px 0 rgb(128, 0, 255);
    filter: drop-shadow(0 0 20px rgb(142, 29, 255));
}

.btn--bg {
    padding: 1.5rem 8rem;
    font-size: 2rem;
    background: rgba(0, 255, 247, 0.742);
    border: 1px solid #668785;

    /* box-shadow: -5px 0px 29px 5px #050736; */
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.403));
    box-shadow: rgba(255, 255, 255, 0.403) 0px 7px 29px 0px;
}

.btn--med {
    padding: 1.5rem 5rem;
    font-size: 1.6rem;
}

button:focus {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
}

/*****************************************Header Styling*****************************************/
.header {
    position: fixed;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
    margin-top: 5px;
    backdrop-filter: blur(10px);

    background-color: rgba(255, 255, 255, 0.078);
    box-shadow: -5px 0px 29px 5px #050736;
    z-index: 10;
}

.header .title {
    margin: 20px;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #e9e8e8;
    font-weight: 800;
    font-family: "Audiowide", sans-serif;
}